*{
    margin: 0px;
    padding: 0px;
}

body{
    border: solid 5px rgb(35, 128, 0);
    padding: 16px;
    height: 100%;
    
    justify-content: space-around;
    
    margin: 5px;
}

.top, .bot{
    border: solid 5px blue;
    
}
.top{
    padding: 16px;
    display: flex;
    background:rgb(173, 216, 230);
}
.outterBox{
    border: solid 5px salmon;
    width: 200px;
    height: 100;

}

.mid{
    border: solid 5px brown;
}
