*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    border: solid 5px rgb(35, 128, 0);
    padding: 16px;
    height: 100%;
    margin:1px
}

.top, .bot{
    border: solid 5px blue;
    
}
.mid{
    margin:16px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.left, .right{
    flex:1;
}
.left{
    border:solid 5px brown;
    height: 250px;
}
.right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.right-child{
    border:solid 5px brown;
    flex:1;
}
.top{
    padding: 16px;
    display: flex;
    background:rgb(173, 216, 230);
    justify-content: center;
    gap: 10px
}
.outterBox, .innerBox{
    border: solid 5px salmon;
    flex: 2;
    height: 75px;
}
.tinyBox{
    border: solid 5px salmon;
    height: 75px;
    flex:1;
}
.bot{
    display: flex;
    gap: 5px;
    padding: 8px;
}

.innerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}
#midBox{
    height: 50px;
    border: solid 5px blue;
    flex:1
}
