*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display:flex;
    background-color: rgb(92, 92, 138);
    color: rgb(255, 255, 255);
    padding: 24px 150px;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    margin: 16px;
}

.hero-statement{
    color: white;
    background-color: rgb(92, 92, 138);
    display: flex;
    font-size: 18px;
    padding: 24px 150px;
    justify-content: center;
    margin-bottom: 24px;
}
.name{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.logo-image{
    display: flex;
    flex: 1; 
    justify-content: end;
}
.logo-image img{
    object-fit: fill;
    width: 475px;
    height: 250px;
    clip-path: ellipse(50% 50%);
}

.right-hero button{
    padding: 12px;
    font-size: 24px;
    
}
.right-hero{
    display: flex;
    flex-direction: column;
}
.left-hero, .right-hero{
    width: 300px;
    height: 300px;
    flex-grow:1;
    flex-shrink: 0;
}

.left-hero button{
    font-size: 18px;
    background-color: rgb(235, 148, 134);
    padding: 12px;
    color: whitesmoke;
    border-radius: 12px;
    margin-top: 24px;
}

.info-header h1{
    font-weight: 900;
    font-size: 36px;
    color:  rgb(92, 92, 138);
    border-radius: 12px;
    border: 16px double rgb(42, 127, 105);
    align-self: center;
    padding: 8px;
}

.info-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.info-section{ 
    margin: 0px 150px;
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtext{
    padding: 8px;
    border-radius: 12px;
    height: 109px;
    width: 550px;
}
#one{
    background-color: rgb(166, 200, 255);
}
#two{
    background-color: rgb(244, 178, 168);
}
#three{
    background-color: rgb(254, 209, 62);
}

.info{
    display: flex;
    gap: 125px; 
    justify-content: center;
    font-size: 17px;
    align-items: center;
    flex-grow: 0;
    height: 125px;
    
}
.icon{
    width: 125px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 12px;
}
.block{
    border: 2px solid rgb(121, 173, 255);
}

.action, .quotes{
    margin: 24px 0px;
}

.friends-family{
    margin: 24px;
    background-color: rgb(121, 173, 255) ;
    padding: 12px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    border-radius: 12px;
}

.quotes{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.quote-header{
    display: flex;
    gap: 150px;
    margin-left: 25px;
    
}
.quote-header img{
    height: 200px;
}
.transition{
    /*background-color: rgb(254, 209, 62);*/
    font-size: 20px;
    font-weight: 900;
    width: 700px;
    padding: 16px; 
    color: rgb(92, 92, 138);
    border: 16px double rgb(202, 85, 1); ;
    border-radius: 50px;
    align-self:center;
}

.quote-container{
    background-color: rgb(255, 230, 150);
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    align-items:center;
}

.quote{
    width: 200px;
    border: 8px solid rgb(42, 127, 105);
    border-radius: 25px;
    background-color: pink;
    padding: 8px;
    color: rgb(130, 34, 34);
    font-style:italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.author{
    margin-top: 24px;
    text-align: end;
    padding: 8px;
    font-style: normal;
}

.footer{
    background-color: rgb(92, 92, 138);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 16px;
}

.action{
    background-color: rgb(69, 125, 213);
    font-size: 24px;
    color: whitesmoke;
    display: flex;
    height: 200px;
}